<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Global Details">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <app-discribtion-card [header]="'Infected'" [textColorClassName]="'info'" [date]="data?.lastUpdate | date"
                                  [paragraph]="'Number Of Active Cases Of COVID-19.'" [number]="data?.confirmed.value"
                                  [iconClassName]="'fab fa-accessible-icon'"></app-discribtion-card>
          </div>
          <div class="col-md-4">
            <app-discribtion-card [header]="'Recovered'" [textColorClassName]="'success'" [date]="data?.lastUpdate | date"
                                  [paragraph]="'Number Of Active Cases Of COVID-19.'" [number]="data?.recovered.value"
                                  [iconClassName]="'fas fa-notes-medical'"></app-discribtion-card>
          </div>
          <div class="col-md-4">
            <app-discribtion-card [header]="'Deaths'" [textColorClassName]="'danger'" [date]="data?.lastUpdate | date"
                                  [paragraph]="'Number Of Deaths Caused By COVID-19.'" [number]="data?.deaths.value"
                                  [iconClassName]="'fas fa-skull-crossbones'"></app-discribtion-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Global Charts">
      <br>
      <p-chart type="line" [data]="chartData"></p-chart>
    </mat-tab>
  </mat-tab-group>
</div>

