<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-select name="country" [(ngModel)]="myCountry" [(value)]="myCountry" placeholder="Pick Up The Country"
                      (ngModelChange)="getCoronaDetailsByCountry()">
            <mat-option [value]="" disabled> Choose</mat-option>
            <mat-option *ngFor="let x of countryList" [value]="x">{{x}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-card [header]="'Infected'" [textColorClassName]="'text-info'" [number]="data?.confirmed.value"
                [date]="data?.lastUpdate | date"
                [paragraph]="'Number Of Active Cases Of COVID-19.'"
                [borderColorClassName]="'border-info'"></app-card>
    </div>
    <div class="col-md-4">
      <app-card [header]="'Recovered'" [textColorClassName]="'text-success'" [number]="data?.recovered.value"
                [date]="data?.lastUpdate | date"
                [paragraph]="'Number Of Recoveries Cases Of COVID-19.'"
                [borderColorClassName]="'border-success'"></app-card>
    </div>
    <div class="col-md-4">
      <app-card [header]="'Deaths'" [textColorClassName]="'text-danger'" [number]="data?.deaths.value"
                [date]="data?.lastUpdate | date"
                [paragraph]="'Number Of Deaths Caused By COVID-19.'"
                [borderColorClassName]="'border-danger'"></app-card>
    </div>
  </div>
</div>
