.navbar-light .navbar-nav .nav-link {
  color: #F7921C;
  font-size: 20px;
  font-weight: 900;
}

.navbar-light .navbar-text {
  color: #36D4C1;
  font-size: 20px;
  font-weight: 900;
}
.active a{
  color: #6D2671 !important;
}
