<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="http://emd4it.com/" target="_blank">
    <img src="assets/Tools/Images/Logo/EMD4IT%20Logo.jpeg" width="100" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">{{'Global' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country">{{'Country' | translate}}</a>
      </li>
    </ul>
    <span class="navbar-text">
    Language : <a style="cursor: pointer" (click)="enableLanguage('ar')"> العربيه </a> -
      <a style="cursor: pointer" (click)="enableLanguage('en')"> English </a>
  </span>
  </div>
</nav>
