:root {
  --text-color: #F6911B;
  --width: 50%;
}


svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #F6911B;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * var(--width)) / 100);
  stroke: #6E2672;
}

.card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #36D4C1, #f4f4f4, #36D4C1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: .5s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(54, 212, 193, .8);
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, .2);
  pointer-events: none;
  zoom: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #36D4C1;
  background: rgba(54, 212, 193, .5);
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #F6911B;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #6E2672;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #F6911B;
  transition: 0.5s;
}

.card:hover .percent .number h2 span {
  color: #6E2672;
}

.text {
  position: relative;
  color: #F6911B;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #6E2672;
}
