/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  font-family: 'Baloo Paaji 2', 'Cairo', cursive;
}

html, body {
  height: 100%;
}

body {
  background: #f4f4f4;
  /*background: #101010;*/
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  background: #f4f4f4;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #F7921C;
}

/*.mat-tab-label .mat-tab-label-content {*/
/*  display: inline-flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  white-space: nowrap;*/
/*  color: #fff;*/
/*}*/
.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: #551E58;
  font-size: 20px;
  font-weight: 700;
}

[dir=rtl] .mat-form-field {
  text-align: right;
}

/*.jumbotron {*/
/*  color: #FFFFFF;*/
/*  background-color: transparent !important;*/
/*}*/
